.buttonArrow{
    padding: 0.5em;
}

.dark {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #4D4D4D;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
   display: flex;
   align-items: center;
}
.light {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 1em;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
   display: flex;
   align-items: center;
}