.lighter{
    width: 10rem;
    height: 10rem;
    background-color: #E8E8E8;
    border-radius: 50%;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.light{
    width: 10rem;
    height: 10rem;
    background-color: #C49B87;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dark{
    width: 10rem;
    height: 10rem;
    background-color: #78868D;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.darker{
    width: 10rem;
    height: 10rem;
    background-color: #4D4D4D;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}