// .container{
//     padding: 1em;
// }

// .imgContainer{
//     width: 100%;
//     height: 70%;
// }
// .productImg{
//     width: 100%;
//     background-color: #eaeaea;
// }
// .productDescription{
//     width: 100%;
//     height: 25%;
//     background-color: red;
// }
// p{
//     font-family: Poppins;
//     font-size: 1em;
//     font-weight: 400;
//     line-height: 28px;
//     letter-spacing: 0em;
//     text-align: center;

// }

.container{
padding: 1em;


.imageWrap{

    background-color: #eaeaea;


    .productImg{
        width: 100%;
        height: 100%;
    }
}
.productDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        font-family: Poppins;
        font-size: 1em;
        font-weight: 400;
        text-align: center;


    }
    // img{
    //     align-self: center;
    // }
}
}