@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// font-family: 'Nunito', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Poppins', sans-serif;



*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.headerInfo{
    max-width: 100%;
    padding: 0.5em;
    background-color: #6F6F6F;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infoAndLogoContainer{
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoAndLogoContainer2{
    padding: 0 0.5em;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerInfoLogo{
    padding-right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companyContacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.headerMenu{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .companyNameAndLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .companyLogo{
            width: 4rem;
            height: 4rem;
        }

    }
    .menuBar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        p{
            cursor: pointer;
            font-size: 1rem;
            padding: 0 0.5rem ;
        }

        .logoWrapAtMenu{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.5em;
            padding: 0.25em  0.5em;
            box-shadow: rgba(0, 0, 0, 0.15) 0 0 2px 0;
            // box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        
        
            .logoAtMenu{
            height: 1.5em;
            width: 1.5em;
            }
        
        }
    }
    
}


.attentionGrabber{
    background-image: url("../assets//backgroundImage.png");
    background-color: #f5f5f5;
    max-width: 100%;
    padding: 15%;


    p{
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 0em;
    }
    h2{
        width: 28rem;
        font-family: 'Nunito', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        padding: 0.2em 0;
    }
    span{
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 1.5em 0;

    }
}
.darkSection{
    max-width: 100%;
    background-color: #222429;
    padding: 5% 0;
    color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .halfRight{
        width: 38em;
        padding-right: 2em;


        .whoRWe{
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            padding: 0.5em 0;
        }
        h3{
            font-family: 'Nunito', sans-serif;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.5rem;
            letter-spacing: 0em;
            text-align: left;
            padding: 0.5em 0;

        }
        .longText{
            font-family: 'Poppins', sans-serif;
            font-size: 1em;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            padding: 0.5em 0;
        }
    }
}
.secForTrendingProducts{
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;


    .trendingProductTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .p{
            font-family: 'Nunito', sans-serif;
            font-size: 1.2em;
            font-weight: 700;
        }

        h2{
            font-family: 'Nunito', sans-serif;
            font-size: 2em;
            font-weight: 700;
            padding: 2rem;
        }
    }
    .cardWrapper{
        border-top: 1px solid #CCCCCC;
        width: 80%;
        

      .trendingMenu{
        display: flex;
        justify-content: center;

        p{
            padding: 0 1em;
        }
      }

      .productCard{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1em;
      }

    }

    .subSecProducts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0; 


        h2{
            font-family: 'Nunito', sans-serif;
            font-size: 2em;
            font-weight: 700;
            padding: 2rem;
        }
    }
    .circleGroup{
        width :100%;
        display: flex;
        justify-content: space-around;
    }
}



.productPromo{
    max-width: 100%;
    padding-top:5vh;
    display: flex;
    background-color: #F5F5F5;

    img{
        max-width: 20%;
    }
    .contentWrapper{
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .wrap{
            display: flex;
            justify-content: center;
            align-items: center;

            .promoContentWrap{
                width:40rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2{
                    font-family: 'Nunito', sans-serif;
                    font-size: 2rem;
                    font-weight: 600;
                    padding: 0.5em 0;

                }
                p{
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    
                }
            }
        }
    }
    .promoSecImg{
        min-width: max-content;        
    }
}


.mainWrapper{
    display: flex;
    justify-content: center;
    min-width: 80%;
    max-width: 80%;
    

    .firstHalf{
        min-width: 50%;
    }
    .secondHalf{
        
    }
}


