  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  
  form {
    max-width: fit-content;
    color: #555;
    display: flex;
    padding: 2px;
  }
  
  input[type="search"] {
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    font-size: 1em;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  .search {
    width: 1.5rem;
    padding: 0;
    margin: 0;
    background: url("../../assets/XMLID_223_.png") no-repeat center;
    cursor: pointer;
  }
